.repo-list-component-container {
  margin-bottom: 30px;
}

.repo-list-container {
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
}

.repo-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #62CDFE;
  margin: 20px auto;

  p {
    margin-top: 20%;
    padding: 10px;
  }
}