.repo-list-component-container {
  margin-bottom: 30px;
  color: white;
}
h2 {
  padding: 0 20px;
}
.repo-list-container {
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
}

.repo-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #62CDFE;
  margin: 20px auto;
  border: none;

  p {
    margin-top: 20%;
    padding: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
}