.search_form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;

  input {
    height: 30px;
    padding-left: 35px;
  }

  input.search_input {
    background-image: url('../../images/magnifier-tool.svg');
    background-size: 20px;
    background-position: 5px;
    background-repeat: no-repeat;
    border: none;
  }

  button {
    height: 35px;
  }

}